/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleHeart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--font-weight);
  background-color: white;
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
  padding-block-start: 100px;
  padding-block-end: 100px;
}

.header__container {
  inline-size: var(--header-size);
  background-color: white;
  block-size: 364px;
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-family: var(--accent-font);
  padding-block-end: 20px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-family: var(--accent-font), fantasy;
}

.main__article-container {
  inline-size: var(--main-size);
  background-color: white;
  margin-block-end: 52px;
  aspect-ratio: 1 / 1;
}

.main__article-block {
  display: grid;
  justify-items: center;
}

.main__title {
  font-size: var(--text-size);
  border: 2px solid var(--accent-color);
  padding: 3px 0 3px 10px;
}

.main__card {
  border: 2px solid var(--accent-color);
}

.main__subtitle {
  font-weight: var(--font-weight);
  line-height: 21px;
  font-size: var(--text-size);
  padding: 0 25px;
}

.main__subtitle:first-child {
  padding: 27px 25px;
}

.picture__container {
  position: relative;
}

.main__picture {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-right: 2px solid var(--accent-color);
  border-left: 2px solid var(--accent-color);
}

.filter_picture-saturate {
  filter: saturate(150%);
}

.filter_picture-sepia {
  filter: sepia(40%);
}
.filter_picture-invert {
  filter: invert(0.2);
}

.filter_picture-contrast {
  filter: contrast(200%);
}

.filter_picture-blur {
  filter: blur(0.1rem);
}

.filter_picture-hue-rotate {
  filter: hue-rotate(-40deg);
}

.filter_picture-opacity {
  filter: opacity(0.7);
}

.label_picture {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  -webkit-text-stroke: 1px var(--text-stroke_color);
}

@supports (text-stroke: 1px var(--text-stroke_color)) {
  .label_picture {
    text-stroke: 1px var(--text-stroke_color);
  }
}

.card__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px;
}

.card__icon-button {
  border: 2px transparent solid;
  background-color: transparent;
  transition: 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0s;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear 0s;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scaleHeart 0.3s ease-in 0.1s 1;
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
  fill: var(--animation-fill-color);
  transform-origin: center;
}

.sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
}

.card__like-button {
  border: 2px solid var(--accent-color);
  background-color: transparent;
  min-block-size: 38px;
  min-inline-size: 130px;
  font-family: var(--accent-font);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  scale: 0 1;
  background-color: var(--accent-color);
  transition: scale 0.5s ease-in-out;
  transform-origin: left;
  z-index: 0;
}

.button:hover::after {
  scale: 1 1;
}

.button__text {
  line-height: 90%;
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: #fff;
}

.main__dialog-container {
  display: flex;
  justify-content: center;
  padding-block-start: 50px;
  padding-block-end: 105px;
}

.button-dialog {
  border: none;
  background-color: transparent;
  font-family: var(--accent-font);
  position: relative;
}

.open-button {
  outline: 2px solid;
  padding: 19px 21px 19px 8px;
  background-color: white;
}

.open-button svg {
  inline-size: 21px;
  block-size: 21px;
  fill: #fff;
}

.floppy-dialog svg {
  inline-size: 39px;
  block-size: 39px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0, 75);
}

.dialog[open] {
  display: flex;
}

.dialog {
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  flex-direction: column;
  border: 2px solid var(--accent-color);
  padding: 30px;
}

.floppy-dialog {
  display: grid;
  padding-block-end: 30px;
  grid-template-columns: 50px 225px;
  gap: 20px;
}

.text-dialog {
  font-family: var(--accent-font);
}

.close-button {
  outline: 2px solid;
  padding: 13px 133px;
}

@media (width <= 376px) {
  .header__container {
    inline-size: 100%;
    block-size: 327px;
  }

  .header {
    padding-block-end: 102px;
  }

  .main__article-container {
    min-inline-size: 100%;
    padding-block-end: 50px;
  }

  .main__subtitle:first-child {
    padding: 25px 27px;
  }

  .open-button svg {
    inline-size: 28px;
    block-size: 28px;
  }

  .open-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 15px 20px 15px 20px;
  }

  .floppy-dialog {
    display: grid;
    padding: 30px 42px;
    grid-template-columns: 50px 198px;
    align-items: center;
  }
}
